:root {
  --maintheme: rgb(44, 61, 216);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  padding-top: 120px;
}

#nav-div {
  top: 0;
  position: fixed;
}

#navigation {
  box-shadow: 0px 3px 3px grey;
  position: fixed;
  width: 100%;
  height: 120px;
  z-index: 21;
  top: 0;
}

#main-logo {
  height: 120px;
}

#nav-content {
  padding-right: 2rem;
}

#nav-coaching,
#nav-coaching-burger,
#nav-resources,
#nav-resources-burger,
#nav-products,
#nav-products-burger,
#nav-twitter,
#nav-twitter-burger {
  font-size: larger;
  text-align: center;
  padding-left: 1rem;
}

#home-splash {
  margin: 0 auto 36px;
  max-width: 1800px;
}

.splash-wrapper {
  position: absolute;
  right: 10%;
}

#hero-img {
  width: 115%;
  padding-top: 25px;
}

#hero-text {
  position: relative;
  margin-left: 10%;
  z-index: 3;
  top: 150px;
  font-size: larger;
}

#content-box {
  background-color: rgba(252, 250, 250, 0.4);
  border-radius: 25px;
}

#hero-heading {
  font-size: 48px;
}

#hero-p {
  font-size: larger;
}

#service-section {
  margin: 0 auto;
  width: 85%;
  position: relative;
  top: 325px;
  padding-top: 25px;
}

.service-card {
  border: #777 solid 1px;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 5px;
  box-shadow: 3px 3px 3px;
  position: relative;
  transition: 0.3s ease;
  opacity: 1;
  color: #777;
}

.service-card:hover {
  opacity: 0.3;
}

.middle {
  transition: 0.3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#about-section {
  margin: 0 auto;
  width: 80%;
  position: relative;
  top: 325px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.carousel-item {
  height: 22rem;
  background: linear-gradient(#777, #292b2c);
  color: white;
  position: relative;
  border-radius: 5px;
}

.carousel-card {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 80%;
}

#contact-container {
  position: relative;
  top: 325px;
  width: 75%;
  border-radius: 10px;
}

#coach-section {
  position: relative;
  top: 120px;
}

#coach-title {
  width: 100%;
}

.service-body {
  position: relative;
  top: 125px;
}

footer {
  position: relative;
  top: 325px;
  width: 100%;
  height: 120px;
  margin: 0 auto;
  padding-top: 20px;
}

.footer-child {
  margin-bottom: 0rem;
}

@media only screen and (max-width: 1238px) {
  #service-section {
    top: 270px;
  }
  #about-section {
    top: 275px;
  }
}

@media only screen and (max-width: 1050px) {
  body {
    padding-top: 100px;
  }
  .splash-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  #hero-text {
    position: absolute;
    top: 140px;
    left: 0;
    transform: translateX(-9%);
  }
}

@media only screen and (max-width: 800px) {
  #hero-heading {
    font-size: 40px;
  }
  #hero-p {
    font-size: large;
  }
  #content-box {
    max-width: 50%;
  }
}

@media only screen and (max-width: 640px) {
  #hero-heading {
    font-size: 36px;
  }
  #hero-p {
    font-size: medium;
    font-weight: bold;
  }
  #hero-text {
    top: 175px;
  }
  #content-box {
    min-width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  #splash-wrapper {
    max-height: 400px;
    max-width: 640px;
    overflow: hidden;
  }
  #hero-img {
    height: 360px;
    width: 640px;
    transform: translateX(-15%);
  }
}

@media only screen and (max-width: 440px) {
  #hero-img {
    transform: translateX(-20%);
  }
}

@media only screen and (max-width: 350px) {
  #hero-img {
    transform: translateX(-30%);
  }
}