:root {
  --maintheme: rgb(44, 61, 216);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  padding-top: 120px;
}

#nav-div {
  top: 0;
  position: fixed;
}

#navigation {
  box-shadow: 0px 3px 3px grey;
  position: fixed;
  width: 100%;
  height: 120px;
  z-index: 21;
  top: 0;
}

#main-logo {
  height: 120px;
}

#nav-content {
  padding-right: 2rem;
}

#nav-coaching,
#nav-coaching-burger,
#nav-resources,
#nav-resources-burger,
#nav-products,
#nav-products-burger,
#nav-blog,
#nav-blog-burger {
  font-size: larger;
  text-align: center;
  padding-left: 1rem;
}

#home-splash {
  margin: 0 auto 36px;
  max-width: 1600px;
}

.splash-wrapper {
  position: absolute;
  right: 10%;
}

#hero-img {
  width: 115%;
  padding-top: 25px;
}

#hero-text {
    position: relative;
    margin-left: 10%;
    z-index: 3;
    top: 150px;
    font-size: larger;
}

#content-box {
  background-color: rgba(252, 250, 250, 0.4);
  border-radius: 25px;
}

#hero-heading {
    font-size: 48px;
}

#hero-p {
    font-size: larger;
}

#about-section {
  margin: 0 auto;
  width: 75%;
  position: relative;
  top: 325px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#contact-container {
  position: relative;
  top: 325px;
  width: 75%;
  border-radius: 10px;
}

#coach-section {
  position: relative;
  top: 120px;
}

#coach-title {
  width: 100%;
}

footer {
  position: relative;
  top: 325px;
  width: 100%;
  height: 120px;
  margin: 0 auto;
  padding-top: 20px;
}

.footer-child {
  margin-bottom: 0rem;
}
